<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="KCollege_DbEntities" connectionString="metadata=res://*/Database.KUniversityDbModel.csdl|res://*/Database.KUniversityDbModel.ssdl|res://*/Database.KUniversityDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN11-EAD\sqlexpress;initial catalog=KCollege_Db;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KCollege_DbEntities1" connectionString="metadata=res://*/Database.KUniversityDbModel.csdl|res://*/Database.KUniversityDbModel.ssdl|res://*/Database.KUniversityDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN11-EAD\sqlexpress;initial catalog=KCollege_Db;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KCollege_DbEntities2" connectionString="metadata=res://*/Database.KUniversityDbModel.csdl|res://*/Database.KUniversityDbModel.ssdl|res://*/Database.KUniversityDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN11-EAD\sqlexpress;initial catalog=KCollege_Db;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KCollege_DbEntities3" connectionString="metadata=res://*/Database.KUniversityDbModel.csdl|res://*/Database.KUniversityDbModel.ssdl|res://*/Database.KUniversityDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN11-EAD\sqlexpress;initial catalog=KCollege_Db;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KCollege_DbEntities4" connectionString="metadata=res://*/Database.KUniversityDbModel.csdl|res://*/Database.KUniversityDbModel.ssdl|res://*/Database.KUniversityDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=KCollege_Db;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KCollege_DbEntities5" connectionString="metadata=res://*/Database.KUniversityDbModel.csdl|res://*/Database.KUniversityDbModel.ssdl|res://*/Database.KUniversityDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=KCollege_Db;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KCollege_DbEntities6" connectionString="metadata=res://*/Database.KuniversityDbModel.csdl|res://*/Database.KuniversityDbModel.ssdl|res://*/Database.KuniversityDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=KCollege_Db;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CarRentalEntities" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=CarRental;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1" connectionString="data source=.\sqlexpress;initial catalog=CarRental;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="KUniversityDbModel" connectionString="data source=.\sqlexpress;initial catalog=KCollege_Db;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="KUniversityDbModel1" connectionString="data source=.\sqlexpress;initial catalog=KCollege_Db;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>